
{% extends "base.html" %}

{% block title %}Home page{% endblock %}

{% block content %}
    
    <!-- Card 1 -->
    <div class="parent">
     <h1>adidas</h1>
     <div class="card1">
          <img src="/static/images/marzuk-adidas-5418991_1920.jpg" alt="image not found">
           <h3>Description of product 1</h3>
            <h3>price: $19.99</h3>
            <h1>product 1</h1>
            <button>buy now</button>
    </div>
    <!-- card 2 -->
     <div class="card2">
            <img src="/static/images/marzuk-adidas-5428548.jpg" alt="image not found">
          <h3>Description of product 2</h3>
         <h3>price: $29.99</h3>
           <h1>product 2</h1>
           <button>buy now</button>
     </div>
        <!-- card 3 -->
         <div class="card3">
             <img src="/static/images/shanimani660-shoe-2498994.jpg" alt="image not found">
             <h3>Description of product 3</h3>
              <h3>price: $29.99</h3>
             <h1>product 3</h1>
                <button>buy now</button>
         </div>
   </div>  

{% endblock %}